Label {
    width: 100%;
    margin: 1;
    text-align: left;
}

Button {
    margin: 0 1;
    width: 1fr;
}

Input {
    margin: 0;
    width: 1fr;
}

#bases-container {
    border: solid #68c7fa;
}

BaseWidget {
    height: 25%;
    padding: 0;
    border: #f5bd44;
}

    
BaseWidget CenterMiddle {
    margin: 0;
    padding: 0;
    height: 100%;
}