Label {
    width: 100%;
    margin: 0;
    padding: 0 0 1 1;
    text-align: left;
}

Button {
    margin: 0 1;
    width: 1fr;
}

Input {
    margin: 0;
    width: 1fr;
}

#bases-container {
    border: solid #68c7fa;
}

BaseWidget {
    height: 5;
    padding: 0;
    margin: 0;
    border: #f5bd44;
}

Vertical {
    padding: 0;
    margin: 0;
}
    
# BaseWidget CenterMiddle {
#     margin: 0;
#     padding: 0;
#     height: 100%;
# }